.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    width: 600px;
    .label {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 15px;
    }
    .top {
      display: flex;
      margin-bottom: 5px;
      justify-content: center;
    }
  }
}
