.box {
  width: 100%;
  display: flex;
  padding: 5px 30px 5px 10px;
  //   background-color: #f7f7f7;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px 0;
  text-decoration: none;
  color: black;
  &:hover {
    background-color: #ffdea1;
  }
  &:active {
    transform: scale(0.995);
  }

  .rank {
    font-size: 15px;

    border-radius: 5px;
    width: 30px;
    display: flex;
    justify-content: center;
  }

  .top10 {
    background-color: red !important;
    color: white;
    // box-shadow: 0 0 5px rgba(0 , 0 , 0 , 0.5) ;
  }

  .top1 {
    background-color: black !important;
    color: white;
    box-shadow: 0 0 5px rgba(0 , 0 , 0 , 01) ;
  }


  .name {
    margin-left: 10px;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
}
